Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ficha">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad">
          <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="130"/>
          </xs:restriction>  
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="numero" type="xs:positiveInteger"/>
      <xs:attribute name="genero" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
